*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #141414dd;
  top: 0;
  z-index: 1;
  height: 100px;
  box-sizing: border-box;
  ul {
    margin: 0;
    align-items: center;
    .profile-picture {
      width: 40px;
      height: 40px;
    }
    li:not(.profile-tab) {
      border: 1px solid #505050;
      padding: 6px 12px;
      border-radius: 20px;
      background-color: #202020;
    }
    li:not(.profile-tab, .profile-action):hover {
      border-color: #a6dbff;
      background-color: #a6dbff;
      color: #202020;
    }
  }
  ul.profile-actions {
    li {
      border: none;
      padding: 0;
      background: none;
    }
  }
}

ul {
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-logo {
  height: 48px;
  img {
    height: 100%;
  }
}

footer {
  border-top: 1px solid #202020;
  padding: 24px 16px;
  .footer-cta {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #505050;
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    button {
      margin: auto 0;
      font-weight: bold;
      border-radius: 24px;
      border: 1px solid #ffa6db;
      padding: 12px 24px;
      color: #ffa6db;
      background-color: #141414;
    }
    button:hover {
      color: #141414;
      background-color: #ffa6db;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
  .site-map,
  .tdt-sns {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    h3 {
      grid-row: 1;
      font-size: 16px;
    }
    ul {
      flex-direction: column;
      gap: 8px;
      align-self: start;
      margin: 0;
      font-size: 14px;
    }
    p {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      align-self: end;
      margin-bottom: 0;
      a {
        display: flex;
        align-items: center;
        i {
          font-size: 20px;
        }
      }
    }
    p:nth-child(2) {
      a {
        text-decoration: underline;
      }
    }
  }
}

/* Home page */
.home-page {
  display: flex;
  flex-direction: column;
  padding: 5% 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
  height: 100dvh;
  h1,
  h2 {
    align-self: center;
    font-weight: 400;
  }
  svg {
    margin: 0 auto;
  }
  .home-buttons {
    margin: auto;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      li {
        padding: 16px 32px;
        border-radius: 36px;
        background-color: #141414;
        border: 2px solid #cb56e6;
        color: #cb56e6;
        font-size: large;
        font-weight: bold;
      }

      li:first-child {
        border: 2px solid #fff5ff;
        color: #fff5ff;
      }

      li:first-child:hover {
        background-color: #fff5ff;
        color: #141414;
      }

      li:hover {
        color: #141414;
        background-color: #cb56e6;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
/* Events page */
.event-dashboard {
  display: grid;
  grid-template-columns: 400px 1px 2fr;
  grid-template-rows: max-content 1fr;
  gap: 16px;
  padding: 24px 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
}

.event-search {
  width: 100%;
  p {
    margin-top: 0;
  }
}

.event-schedule {
  h2 {
    margin: 0;
  }
  grid-column: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.schedule-separator {
  grid-row: 1/3;
  grid-column: 2;
  width: 100%;
  height: 100%;
  background-color: #a6dbff;
}

.event-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  border-top: solid 1px #202020;
}

.event-container {
  grid-row: 1/3;
  grid-column: 3;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  text-align: left;
  width: 100%;
  align-items: center;
  .event-sns,
  .event-creator {
    padding: 0;
    align-self: end;
  }
  .event-creator {
    p {
      text-wrap: nowrap;
    }
  }
  .skeleton i {
    color: #7d7d7d;
  }
  .skeleton-image {
    background-color: #202020;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }
}

.create-event-title,
.event-container .event-name,
.event-banner .event-name {
  color: #ffa6db;
  width: 100%;
  grid-column: 1/3;
}

.event-sns {
  text-align: right;
  padding: 8px 16px;
  h2 {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    color: #7d7d7d;
  }
  p {
    margin: 0;
    display: flex;
    gap: 8px;
    font-size: 18px;
    justify-content: right;
  }
}

.event-section,
.event-details {
  grid-column: 1/3;
}

.event-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    display: flex;
    gap: 8px;
  }
}

.event-image-container {
  width: 100%;
  position: relative;
  grid-column: 1/3;
  margin: 24px auto;
  .event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
      border-radius: 24px;
    }
  }
}

.event-image-container::before {
  content: "";
  background-color: #181818;
  border-radius: 24px;
  display: block;
  width: 100%;
  padding-top: 100%;
}
.event-datepicker-container {
  width: 100%;
}
.event-date,
.event-venue {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    margin: 0;
  }
}

.event-interactions {
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: right;
  }
}

.event-banner {
  grid-column: 1/3;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background-color: #202020;
  box-shadow: 0px -2px 2px #141414cc;
  .event-date {
    i {
      color: #7d7d7d;
    }
  }
  .event-name {
    grid-column: 1;
    margin: 0;
  }
  .event-actions {
    grid-column: 2;
    grid-row: 1/3;
    ul {
      margin: 0;
      padding: 0;
      display: grid;
      gap: 8px;
      align-items: center;
      grid-template-columns: repeat(4, max-content);
    }
    li {
      button {
        width: 100%;
        font-size: large;
        font-weight: bolder;
        border-radius: 30px;
        border: 1px solid #ffa6db;
        padding: 12px 24px;
        color: #ffa6db;
        background-color: #202020;
      }
      button:hover {
        color: #141414;
        background-color: #ffa6db;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .event-attendance {
    h2,
    a {
      margin: 0;
      text-align: right;
    }
    h2 {
      color: #ffa6db;
    }
    a {
      font-size: smaller;
    }
  }
}

.event-creator {
  display: flex;
  h2 {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    color: #7d7d7d;
  }
  p {
    margin: 0;
  }
  align-items: center;
  gap: 16px;
  figure {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}

/* Event card */
.event-card-container {
  min-height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  border-radius: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 8px;
}

.event-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.event-card-container:hover {
  outline: 1px solid #a6dbff;
  box-shadow: 2px 2px 2px#000000cc;
}

.event-card .event-date {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  :first-child {
    color: #a6dbff;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}

.event-thumb {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 4px;
  }
}

.create-event-form .event-thumb {
  justify-self: center;
}

.flyer-filename {
  justify-self: left;
  color: #a6dbff;
}

.edit-form-buttons {
  display: flex;
  gap: 8px;
  grid-column: 2;
  justify-content: right;
  margin-left: auto;
  button {
    width: 80px;
  }
}

.event-card .event-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .event-name {
    padding-bottom: 2px;
  }
  p {
    margin: 0;
  }
  a {
    display: flex;
    gap: 8px;
  }
}

.event-card .event-links {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.event-card .event-name {
  font-size: larger;
  font-weight: bold;
  max-height: 23px;
  overflow: hidden;
}

.event-card .event-venues a,
.event-card .event-sns {
  font-size: medium;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.event-card a:hover {
  color: #ffa6db;
  transition: all 0.3s ease-in-out;
}

.event-card .event-sns {
  :first-child {
    margin-left: auto;
  }
}

.event-actions ul {
  flex-direction: column;
  margin: 0;
  gap: 8px;
  padding-left: 16px;
}

.edit-event-buttons {
  ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    li {
      button {
        width: 100%;
      }
    }
  }
}
/* Schedule header */
/* Searchbar */
.searchbar {
  padding: 8px 16px;
  height: 40px;
  background-color: #202020;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  align-self: stretch;
  border: 1px solid #303030;
  #country-search:focus {
    border: solid 1px #20202000;
    background-color: #1d1d1d;
  }
}

.search,
.clear-search,
.searchbar input {
  border: none;
  background-color: #20202000;
  color: #fff5ff;
}

.searchbar input {
  flex: 1;
  height: 24px;
  padding: 4px 8px;
  border: solid 1px #20202000;
  border-radius: 12px;
  box-sizing: border-box;
}

.searchbar:focus-within {
  border: solid 1px #a6dbff;
}

.searchbar input:focus {
  outline: none;
}

.clear-search {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.clear-search.show {
  opacity: 1;
  pointer-events: auto;
}

.clear-search:hover {
  cursor: pointer;
}

.filter-container {
  align-self: stretch;
  padding-top: 16px;
  p {
    font-size: smaller;
  }
}

.search-filter {
  padding-top: 16px;
  border-top: solid 1px #202020;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 8px;
  input {
    background-color: #202020;
    border: solid 1px #303030;
    padding: 8px 16px;
    border-radius: 20px;
    height: 40px;
    color: #fff5ff;
    width: 100%;
  }

  input:focus,
  select:focus,
  button:focus {
    border: solid 1px #a6dbff;
    outline: none;
  }

  input[type="month"] {
    color-scheme: dark;
  }
}

.date-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

#date-search.empty,
#date.empty {
  color: rgb(125, 125, 125);
}

.search-buttons {
  grid-column: 2;
  display: flex;
  gap: 16px;
  align-items: center;
  button {
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 24px;
    color: #fff5ff;
    box-shadow: 2px 2px 2px#000000cc;
    width: 100%;
    margin-top: 16px;
  }
}

.submit-search:hover {
  background-color: #a6dbff;
  color: #141414;
  transition: all 0.3s ease-in-out;
}

/* Event not found */
.search-not-found {
  max-width: 400px;
  background-color: #202020;
  border-radius: 16px;
  padding: 16px 24px;
  box-sizing: border-box;
}
.search-not-found span {
  font-weight: bold;
  color: #a6dbff;
}
.no-match-title {
  color: #ffa6db;
}

.no-match-message {
  font-size: larger;
  span {
    font-weight: bold;
    color: #a6dbff;
  }
}
.no-match-cta {
  font-size: larger;
}
.create-link,
.back-to-events {
  font-weight: bold;
  color: #ffa6db;
}

/* Create event */

.create-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffa6db;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 5px 2px 5px #000000cc;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.create-button:hover,
.create-button:focus {
  background-color: #fff5ff;
  color: #ffa6db;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.create-event,
.edit-event {
  display: flex;
  justify-content: center;
  padding: 24px 16px;
}

form {
  padding: 24px 32px;
  border-radius: 16px;
  background-color: #181818;
  gap: 16px;
  max-width: 600px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  margin-bottom: 32px;
  border: 1px solid #505050;
  position: relative;
  input {
    background-color: #202020;
    border: solid 1px #303030;
    padding: 8px 20px;
    border-radius: 20px;
    color: #fff5ff;
    height: 40px;
  }
  input:focus {
    border: solid 1px #a6dbff;
    outline: none;
  }
  textarea {
    background-color: #202020;
    border: solid 1px #303030;
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff5ff;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
  }
  textarea:focus {
    border: solid 1px #a6dbff;
    outline: none;
  }
  button:not(
      .remove-sns,
      .react-datepicker__close-icon,
      .react-datepicker__navigation
    ) {
    grid-column: 2;
    margin-left: auto;
    background-color: #202020;
    border: solid 1px #505050;
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff5ff;
    box-shadow: 2px 2px 2px#000000cc;
  }
  .event-form-action {
    margin-top: 24px;
    min-width: 100px;
    cursor: pointer;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.form-section-header {
  grid-column: 1 / 3;
}

.form-separator {
  height: 1px;
  width: 100%;
  grid-column: 1 / 3;
  background-color: #202020;
  margin-top: 16px;
}

.sns-container,
.user-sns-container {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: height 0.3s ease-in-out;
}

input[type="date"] {
  color-scheme: dark;
}

.sns-group {
  height: 60px;
  background-color: #202020;
  border: 1px solid #303030;
  padding: 8px 16px;
  border-radius: 30px;
  color: #fff5ff;
  display: flex;
  align-items: center;
  input:nth-child(2) {
    flex: 1;
    border: solid 1px #202020;
  }
  input:nth-child(2):focus {
    border: solid 1px #20202000;
    background-color: #1d1d1d;
  }
  select,
  button {
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff5ff;
  }
  select:focus {
    outline: none;
  }
}

.sns-group:focus-within {
  border: solid 1px #a6dbff;
}

.remove-sns.disabled {
  color: #505050;
}

.remove-sns:not(.disabled):hover {
  cursor: pointer;
  color: #a6dbff;
  transition: all 0.3s ease-in-out;
}

.edit-profile-submit,
.edit-profile-pic-submit,
.user-banner-buttons {
  display: flex;
  gap: 8px;
  button {
    width: 100%;
  }
}
.edit-profile-submit {
  grid-column: 1/3;
  margin-top: 32px;
  align-self: stretch;
}

.user-banner-buttons {
  grid-column: 1/3;
}

.user-form:not(.profile-pic-form) {
  width: max-content;
}

.edit-profile-submit button,
.edit-profile-pic-submit button,
.user-button,
.edit-event-buttons button {
  grid-column: 2;
  margin-left: auto;
  background-color: #202020;
  border: solid 1px #505050;
  padding: 8px 16px;
  border-radius: 24px;
  color: #fff5ff;
  box-shadow: 2px 2px 2px#000000cc;
}

.edit-profile-pic-submit button.disabled {
  pointer-events: none;
  color: #7d7d7d;
  box-shadow: none;
  border: 1px solid #505050;
}

.edit-profile-submit button:hover,
.edit-profile-pic-submit button:hover,
.user-button:hover,
.edit-event-buttons button:hover,
.event-form-action:hover,
#user-add-style:hover {
  background-color: #a6dbff;
  color: #141414;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#add-sns.disabled,
#update-profile-pic {
  border: solid 1px #202020;
  color: #505050;
}

#add-sns:not(.disabled):hover,
.submit-event:hover {
  background-color: #a6dbff;
  color: #141414;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="file"] {
  height: auto;
}

input[type="file"]::file-selector-button {
  background-color: #202020;
  border: solid 1px #20202000;
  border-radius: 16px;
  color: #fff5ff;
}

.form-checkbox-container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.style-checkbox,
.user-style-checkbox,
.user-privacy-checkbox {
  position: absolute;
  opacity: 0.5;
  border-radius: 8px;
  margin: 0;
  margin-right: 8px;
  width: 24px;
  height: 16px;
  padding: 0;
  opacity: 0;
}

.custom-checkbox {
  left: 0;
  top: 0;
  width: 24px;
  height: 16px;
  border-radius: 8px;
  padding: 2px;
  background-color: #202020;
  border: solid 1px #505050;
  box-shadow: inset 0 0 2px 2px #141414;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.style-checkbox:focus + .custom-checkbox {
  border: solid 1px #a6dbff;
}

label:hover input ~ .custom-checkbox {
  background-color: #505050;
  transition: all 0.3s ease-in-out;
}

label input:checked ~ .custom-checkbox {
  background-color: #a6dbff;
}

.other-style-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  width: 100%;
  input {
    flex: 1;
  }
}

.modal-backdrop {
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: #141414cc;
}

.modal-content {
  margin: auto;
  background-color: #141414;
  padding: 28px 36px;
  border-radius: 8px;
  border: 1px solid #505050;
  box-shadow: 4px 4px 4px #000000cc;
}

.login-form-container {
  position: relative;
  h2 {
    margin-top: 0;
    color: #ffa6db;
  }
  p {
    font-size: 12px;
    margin-top: 32px;
  }
  a {
    color: #a6dbff;
    text-decoration: underline;
  }
}

.confirm-delete {
  position: relative;
  h2 {
    margin-top: 0;
    color: #ffa6db;
  }
  p {
    font-size: 12px;
    margin-bottom: 32px;
  }
}

.login-form-container button,
.confirm-delete form.confirm-delete-actions button {
  background-color: #141414;
  border: 1px solid #202020;
  padding: 12px 36px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  p {
    margin: 0;
    font-size: 16px;
  }
  i {
    font-size: 20px;
  }
}

.login-form-container button:hover,
.confirm-delete form.confirm-delete-actions button:hover {
  background-color: #a6dbff;
  color: #141414;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  position: relative;
  .close-button {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0px;
    background-color: #181818;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .close-button:hover {
    cursor: pointer;
    color: #a6dbff;
  }
}

.confirm-delete button.close-button {
  padding: 0px;
  border: none;
  position: absolute;
}

form.confirm-delete-actions {
  padding: 0;
  border-radius: 0;
  background-color: inherit;
  max-width: 100%;
  margin-bottom: 0;
  border: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  button {
    width: 150px;
    text-align: center;
  }
}

.legal-document {
  h1 {
    color: #ffa6db;
  }
  padding-inline: 24px;
  text-align: left;
  ul {
    flex-direction: column;
  }
}

.profile-actions {
  position: absolute;
  flex-direction: column;
  z-index: 1;
  background-color: #141414;
  border-radius: 8px;
  border: 1px solid #505050;
  padding: 8px 16px;
  right: 16px;
  box-shadow: 4px 4px 4px #000000cc;
  a:hover {
    color: #a6dbff;
    transition: all 0.3s ease-in-out;
  }
}

.profile-container {
  display: flex;
  gap: 16px;
  padding: 24px 16px;
}

.user-details {
  display: grid;
  gap: 16px;
  grid-template-rows: max-content;
  align-self: start;
}

.user-social-media,
.user-bio,
.user-styles {
  position: relative;
  .user-section-title {
    color: #7d7d7d;
    position: absolute;
    padding-inline: 8px;
    top: -12px;
    background: linear-gradient(to bottom, #141414 50%, #181818 50%);
  }
  ul,
  p {
    margin: 0;
  }
}

.user-bio {
  text-align: left;
}

.user-banner,
.user-social-media,
.user-bio,
.user-styles,
.events-created,
.events-going {
  border: 1px solid #505050;
  padding: 24px 16px;
  border-radius: 16px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.user-name {
  text-align: left;
}
.user-email {
  text-align: left;
  margin: 0;
}

.user-styles {
  flex-direction: row;
  flex-wrap: wrap;
  .dance-style {
    border: 1px solid #505050;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #202020;
    font-size: small;
  }
}

.user-sns {
  display: flex;
  gap: 8px;
  font-size: larger;
}

.user-banner {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 16px;
  row-gap: 8px;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: #ffa6db;
    font-size: 24px;
    margin: 0;
  }
}

.profile-picture {
  margin: 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #505050;
  border-radius: 50%;
  box-shadow: 4px 4px 4px #000000cc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.profile-picture.edit {
  position: relative;
  i {
    position: absolute;
    right: -12px;
    top: -12px;
    background-color: #141414;
    border: 1px solid #202020;
    padding: 6px;
    border-radius: 50%;
  }
  i:hover {
    color: #a6dbff;
    transition: all 0.3s ease-in-out;
  }
}

.user-email {
  grid-column: 1/3;
  font-size: 12px;
}

.user-country {
  justify-self: left;
}

.user-button:not(.delete-account) {
  width: 100%;
  grid-column: auto;
}

.delete-account {
  grid-column: 1/3;
  width: 100%;
}

.user-events {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.events-section-title {
  position: absolute;
  top: -12px;
  padding: 0 8px;
  background: linear-gradient(to bottom, #141414 50%, #181818 50%);
  color: #7d7d7d;
}

.create-event-button {
  border-radius: 8px;
  border: 2px solid #ffa6db;
  color: #ffa6db;
  width: 100%;
  padding-block: 8px;
  font-size: large;
  font-weight: bold;
}

.create-event-button:hover {
  color: #141414;
  background-color: #ffa6db;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.loading-img {
  filter: blur(10px);
  clip-path: inset(0);
}
.loaded-img {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

.form-error {
  color: #ffaaaa;
  margin: 0;
  grid-column: 2;
}

.input-error {
  border-color: #ffaaaa;
}

.character-counter {
  grid-column: 2;
  text-align: right;
  width: 100%;
  margin: 0;
  color: #7d7d7d;
}

.error-page-content {
  flex: 1;
  align-self: stretch;
}
.error-page-message a {
  color: #a6dbff;
  text-decoration: underline;
}

.login-page {
  flex: 1;
  padding: 24px 16px;
  .login-content {
    margin: auto;
    background-color: #141414;
    padding: 28px 36px;
    border-radius: 8px;
    border: 1px solid #505050;
    box-shadow: 4px 4px 4px #000000cc;
  }
}

@media (max-width: 600px) {
  header {
    height: auto;
    ul {
      gap: 8px;
      li:not(.profile-tab) {
        padding: 4px 8px;
      }
    }
    ul.profile-actions {
      padding: 6px 12px;
    }
  }
  .home-page {
    justify-content: center;
    align-items: center;
    .home-buttons {
      margin: 0;
      margin-top: 32px;
      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
      }
    }
  }
  .event-dashboard {
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
  }
  .schedule-separator {
    height: 1px;
  }
  .event-schedule {
    border-top: 1px solid #a6dbff;
    padding-top: 16px;
  }
  footer .tdt-sns {
    grid-template-columns: 1fr;
    p:first-child {
      margin-top: 0;
      border-top: 1px solid #505050;
      padding-top: 16px;
    }
  }
  .modal-content {
    max-width: 90%;
    padding: 24px;
    button {
      padding: 12px 18px;
    }
  }
  .profile-container {
    flex-direction: column;
    padding: 16px 8px;
  }
  .user-banner,
  .user-social-media,
  .user-bio,
  .events-created,
  .events-going {
    padding: 16px 8px;
  }
  .user-details {
    align-self: stretch;
  }
  header,
  .event-card-container {
    padding: 6px 12px;
  }
  .event-card {
    gap: 6px;
  }
  .event-actions ul {
    padding-left: 8px;
  }

  .user-form,
  .user-form:not(.profile-pic-form) {
    width: 100%;
    justify-content: start;
    label {
      text-align: left;
    }
  }

  input[type="file"] {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }
  .event-banner {
    h2 {
      font-size: medium;
    }
    .event-actions {
      ul {
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        text-align: center;
        li:last-child {
          grid-column: 1/4;
        }
        button {
          padding: 8px 16px;
        }
      }
    }
  }
  form:not(.profile-pic-form) {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    label {
      text-align: left;
      padding-left: 20px;
    }
    label,
    input:not(.style-checkbox),
    textarea,
    .form-checkbox-container,
    .sns-container {
      width: 100%;
    }
  }
}
