#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 0;
  text-align: center;
}

header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #14141490;
  top: 0;
  z-index: 1;
}

ul {
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-logo {
  height: 48px;
  img {
    height: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

/* Events page */
.event-dashboard {
  /* display: flex; */
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
  padding: 24px 16px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
}

.event-schedule {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 48px;
  border-right: solid 1px #b4d4ee;
}

.event-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  border-top: solid 1px #202020;
}

.event-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.event-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-container .event-name {
  color: #ffa6db;
  width: 100%;
  font-size: xx-large;
}

.event-headline {
  color: #b4d4ee;
  width: 100%;
}

.event-description,
.event-cta,
.event-details {
  width: 100%;
}

.event-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    display: flex;
    gap: 8px;
  }
}

.event-image {
  max-width: 90%;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 24px;
  }
  margin: 24px auto;
}

/* Event card */
.event-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  background-color: #202020;
  border-radius: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.event-card .event-date {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  :first-child {
    color: #b4d4ee;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}

.event-thumb {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 4px;
  }
}

.event-card .event-details {
  flex-shrink: 1;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    margin: 0;
  }
  a {
    display: flex;
    gap: 8px;
  }
}

.event-card .event-links {
  display: flex;
  justify-content: space-between;
}

.event-card .event-name {
  font-size: larger;
  font-weight: bold;
  max-height: 23px;
  overflow: hidden;
}

.event-card .venue,
.event-card .event-sns {
  font-size: medium;
  display: flex;
  gap: 8px;
}

.event-card .event-sns {
  :first-child {
    margin-left: auto;
  }
}
/* Schedule header */
.search-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  /* align-items: center; */
  gap: 8px;
}

/* Searchbar */
.searchbar {
  max-width: 400px;
  padding: 8px 16px;
  height: 40px;
  background-color: #202020;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  align-self: stretch;
  margin-top: 4px;
}

.search,
.clear-search,
.searchbar input {
  border: none;
  background-color: #20202000;
  color: #fff5ff;
}

.searchbar input {
  flex: 1;
  height: 24px;
  padding: 4px 8px;
  border: solid 1px #20202000;
  border-radius: 12px;
  box-sizing: border-box;
}

.searchbar:focus-within {
  border: solid 1px #b4d4ee;
}

.searchbar input:focus {
  outline: none;
}

.clear-search {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.clear-search.show {
  opacity: 1;
  pointer-events: auto;
}

.clear-search:hover {
  cursor: pointer;
}

.filter-container {
  padding-top: 16px;
  p {
    font-size: smaller;
  }
  grid-column: 1 / 3;
}

.search-filter {
  padding-top: 16px;
  border-top: solid 1px #202020;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit(),1fr); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  input {
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    height: 16px;
    color: #fff5ff;
  }

  input:focus,
  select:focus,
  button:focus {
    border: solid 1px #b4d4ee;
    outline: none;
  }

  input[type="month"] {
    color-scheme: dark;
  }

  select {
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff5ff;
  }
}

.date-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submit-search {
  /* grid-column: 2; */
  row-gap: 16px;
  margin-left: auto;
  background-color: #202020;
  border: solid 1px #505050;
  padding: 8px 16px;
  border-radius: 16px;
  color: #fff5ff;
  box-shadow: 2px 2px 2px#000000cc;
}

.submit-search:hover {
  background-color: #b4d4ee;
  color: #141414;
}

/* Event not found */
.search-not-found {
  max-width: 400px;
  background-color: #202020;
  border-radius: 16px;
  padding: 16px 24px;
  box-sizing: border-box;
}
.search-not-found span {
  font-weight: bold;
  color: #b4d4ee;
}
.no-match-title {
  color: #ffa6db;
}

.no-match-message {
  font-size: larger;
  span {
    font-weight: bold;
    color: #b4d4ee;
  }
}
.no-match-cta {
  font-size: larger;
}
.create-link,
.back-to-events {
  font-weight: bold;
  color: #ffa6db;
}

/* Create event */

.create-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffa6db;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 5px 2px 5px #000000cc;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.create-button:hover,
.create-button:focus {
  background-color: #fff5ff;
  color: #ffa6db;
  outline: none;
}

.event-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: #ffa6db;
  }
  margin: 0 auto;
}

.create-event-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.form-section-header {
  grid-column: 1 / 3;
}

.form-separator {
  height: 1px;
  width: 100%;
  grid-column: 1 / 3;
  background-color: #202020;
  margin-top: 16px;
}

.create-event-form input {
  background-color: #202020;
  border: solid 1px #20202000;
  padding: 8px 16px;
  border-radius: 16px;
  height: 16px;
  color: #fff5ff;
}

.create-event-form input:focus {
  border: solid 1px #b4d4ee;
  outline: none;
}

.create-event-form textarea {
  background-color: #202020;
  border: solid 1px #20202000;
  padding: 8px 16px;
  border-radius: 16px;
  color: #fff5ff;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  height: 5em;
}

.create-event-form textarea:focus {
  border: solid 1px #b4d4ee;
  outline: none;
}

.sns-container,
.user-sns-container {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: height 0.3s ease-in-out;
}

input[type="date"] {
  color-scheme: dark;
}

.sns-group {
  background-color: #202020;
  padding: 8px 16px;
  border-radius: 24px;
  color: #fff5ff;
  display: flex;
  input {
    flex: 1;
  }
  input:focus {
    border: solid 1px #20202000;
  }
  select,
  button {
    background-color: #202020;
    border: solid 1px #20202000;
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff5ff;
  }
  select:focus {
    outline: none;
  }
}

.sns-group:focus-within {
  border: solid 1px #b4d4ee;
}

.remove-sns.disabled {
  color: #505050;
}

.remove-sns:not(.disabled):hover {
  cursor: pointer;
  color: #b4d4ee;
}

.event-form-button {
  grid-column: 2;
  margin-left: auto;
  background-color: #202020;
  border: solid 1px #505050;
  padding: 8px 16px;
  border-radius: 16px;
  color: #fff5ff;
  box-shadow: 2px 2px 2px#000000cc;
}

.event-form-button:hover {
  background-color: #b4d4ee;
  color: #141414;
  cursor: pointer;
}

#add-sns.disabled {
  border: solid 1px #202020;
  color: #505050;
}

#add-sns:not(.disabled):hover,
.submit-event:hover {
  background-color: #b4d4ee;
  color: #141414;
  cursor: pointer;
}

input[type="file"] {
  height: auto;
}

input[type="file"]::file-selector-button {
  background-color: #202020;
  border: solid 1px #20202000;
  border-radius: 16px;
  color: #fff5ff;
}

.form-checkbox-container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.style-checkbox,
.user-style-checkbox,
.user-privacy-checkbox {
  position: absolute;
  opacity: 0.5;
  border-radius: 8px;
  margin: 0;
  margin-right: 8px;
  width: 24px;
  height: 16px;
  padding: 0;
  opacity: 0;
}

.custom-checkbox {
  left: 0;
  top: 0;
  width: 24px;
  height: 16px;
  border-radius: 8px;
  padding: 2px;
  background-color: #202020;
  border: solid 1px #505050;
  box-shadow: inset 0 0 2px 2px #141414;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.style-checkbox:focus + .custom-checkbox {
  border: solid 1px #b4d4ee;
}

label:hover input ~ .custom-checkbox {
  background-color: #505050;
}

label input:checked ~ .custom-checkbox {
  background-color: #b4d4ee;
}

.other-style-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
}

.modal-content {
  margin: auto;
  background-color: #141414;
  padding: 28px 36px;
  border-radius: 8px;
  border: 1px solid #505050;
  box-shadow: 4px 4px 4px #000000cc;
  a {
    color: #b4d4ee;
    text-decoration: underline;
  }
}

.login-form-container {
  position: relative;
  h2 {
    margin-top: 0;
    color: #ffa6db;
  }
  p {
    font-size: 12px;
    margin-top: 32px;
  }
}

.login-form-container button {
  background-color: #141414;
  border: 1px solid #202020;
  padding: 12px 36px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  p {
    margin: 0;
    font-size: 16px;
  }
  i {
    font-size: 20px;
  }
}

.login-form-container button:hover {
  background-color: #b4d4ee;
  color: #141414;
  cursor: pointer;
}

.login-form-container button.close-button {
  padding: 0px;
  border: none;
  position: absolute;
  top: -16px;
  right: -24px;
  i {
    font-size: 10px;
  }
}

.legal-document {
  h1 {
    color: #ffa6db;
  }
  padding-inline: 24px;
  text-align: left;
  ul {
    flex-direction: column;
  }
}
